@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,body {
  height: 100%;
}

.lt_container {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  background-color: pink;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 55px;
  
}
.lt_content {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
}

/*通用的头部*/
.lt_header {
  width: 100%;
  max-width: 640px;
  height: 45px;
  line-height: 45px;
  background-color: #069;
  position: fixed;
  top: 0;
  z-index: 999;
}
.lt_header .icon_left,
.lt_header .icon_right{
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
}
.lt_header .icon_left {
  left: 0;
}
.lt_header .icon_right {
  right: 0;
}
.lt_header h4 {
  width: 100%;
  height: 45px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin: 0;
}


/*通用的底部*/
.lt_footer {
  width: 100%;
  max-width: 640px;
  height: 55px;
  background-color: #069;
  position: fixed;
  bottom: 0;
}
.lt_footer li {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 10px;
}
.lt_footer span{
  color: #fff;
}

.lt_footer p {
  color: #fff;
  margin: 0;
  font-size: 12px;
}

.lt_footer li.now span{
  color: darkorange;
}

.lt_footer li.now p {
  color: darkorange;
}


/*首页内容部分*/

.lt_nav {
  width: 100%;
  padding: 10px;
}
.lt_nav li{
  width: 33.33%;
  float: left;
}
.lt_nav li img {
  width: 100%;
}

.product .item {
  width: 46%;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.product .item:nth-child(odd) {
  margin-right: 10px;
  margin-left: 10px;
}
.product img{
  width: 100%;
  margin: 0 auto;

}
.product span:first-child {
  color: red;
}
.product span:last-child {
  text-decoration: line-through;
}